.badgeNew-container{
    width: 100%;
    padding: 15px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.badgeNew-hero{
    width: 100%;
    padding: 30px 15px 30px 15px;
    margin: 0;
    background-color: black;
    background-image: url("../../images/estrellas.svg");
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
}

.form-item{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}

.form-button{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;    
    border-radius: 5px;
}