.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Modal__container {
  position: relative;
  top: 10rem;
  background-color: #ffffff;
  padding: 1rem;
  width: 400px;
}

.Modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: #F5F5F5;
  padding: 0.5rem1rem;
}

.DeleteBadgeModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.DeleteBadgeModal__button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.btn-primary {
  text-decoration: none;
  display: block;
  width: 135px;
  height: auto;
  background: #7DCD40;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
}

.btn-danger {
  text-decoration: none;
  display: block;
  width: 135px;
  height: auto;
  background: hsl(9, 69%, 38%);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
}