.navbar-container {
    padding: 10px;
    margin: auto;
    width: 100%;
}

.logo-title-light {
    font-weight: lighter;
}

.logo-title-bold {
    font-weight: bold;
}

.navbar {
    margin: 0;
    width: 100%;
    padding: 10px;
    background-color: #1C3643;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .navbar-container{
        display: flex;
        justify-content: center;
        padding: 15px 0px 15px 0px;
        margin: 0;
    }
}